body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  display: block;
  width: 100%;
  background: #f7f7f7;
  overflow: visible;
}

#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
/*  height: 100vh;*/
  padding: 0 50px 150px;
  text-align: center;
  box-sizing: border-box;
}
.title {
}
.stateSelector {
	margin:0;
}